.item:after{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
  }
  .fa-brands{
    font-size: xx-large;
  }
  .caro-btn{
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
    margin-top: 125px;
  }